/*  */
/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: 2rem;
}
